<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
  <meta name="generator" content="Jekyll v3.8.7" />
  <meta property="og:title" content="星合の空" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:url" content="https://wu-kan.cn/" />
  <meta property="og:site_name" content="wu-kan" />
  <meta name="google-site-verification" content="YIKi1rBnyUaS-DMYiluseI5kZzTwjCkTFmKkSkMZDJk" />
  <meta name="baidu-site-verification" content="szbTSfUGAB" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="alternate" href="/feed.xml" title="RSS" type="application/rss+xml" />
  <link rel="apple-touch-icon-precomposed"
      href="https://gravatar.loli.net/avatar/289efba375d63424de3c49569c446744?s=320" />
  <link rel="shortcut icon" href="https://gravatar.loli.net/avatar/289efba375d63424de3c49569c446744?s=32" />
  <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/combine/gh/poole/lanyon@v1.1.0/public/css/poole.min.css,gh/poole/lanyon@v1.1.0/public/css/lanyon.min.css,gh/poole/lanyon@v1.1.0/public/css/syntax.min.css" />
  <script async="async"
      src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/js/all.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.css" />
  <script async="async"
      src="https://cdn.jsdelivr.net/combine/gh/Dreamer-Paul/Pio@2.4/static/l2d.min.js,gh/Dreamer-Paul/Pio@2.4/static/pio.min.js" ></script>
  <script src='https://zz.bdstatic.com/linksubmit/push.js' async="async"></script>
  <style>
      .wrap {
          transition-property: width, background-size, transform;
          transition-duration: .3s;
          transition-timing-function: ease-in-out;
          min-height: 100%;
          display: inline-block;
          background-size: 100% auto;
          background-position: 0% 0%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-image: url(https://Mizuno-Ai.wu-kan.cn/pixiv/74559485_p1.webp);
      }

      @media (min-aspect-ratio: 2400/1850) {
          .wrap {
              background-image: url(https://Mizuno-Ai.wu-kan.cn/pixiv/71932901_p0.webp);
          }
      }

      .sidebar-overlay #sidebar-checkbox:checked~.wrap {
          width: calc(100% - 14rem);
          background-size: calc(100% - 14rem) auto;
          transform: translateX(14rem);
      }

      .layout-reverse.sidebar-overlay #sidebar-checkbox:checked~.wrap {
          transform: translateX(0);
      }
  </style>
  <style>
      .sidebar,
      html,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          font-family: PingFang SC, Menlo, Monaco, "Courier New", Microsoft JhengHei, monospace;
      }
  </style>
  <style>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          font-weight: bold;
      }
  </style>
  <style>
      img {
          display: inline-block;
          margin: 0;
      }
  </style>
  <style>
      ::-webkit-scrollbar {
          width: 3px;
          height: 3px;
      }

      ::-webkit-scrollbar-thumb {
          background-image: linear-gradient(45deg, Cyan 0%, Magenta 50%, Yellow 100%);
      }
  </style>
  <style>
      ::selection {
          color: White;
          background: Black;
      }
  </style>
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>入口</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
  </section>
</body>
</html>
